In [44]:
import pandas as pd
import re
df = pd.read_csv('./src/movies_metadata.csv')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [46]:
dfclean = df.drop(['popularity', 'id', 'spoken_languages', 'tagline', 'budget', 'vote_count', 'belongs_to_collection', 'homepage', 'imdb_id', 'production_companies', 'production_countries', 'revenue', 'status', 'video'], axis=1)

In [47]:
dfclean.count()

adult                45466
genres               45466
original_language    45455
original_title       45466
overview             44512
poster_path          45080
release_date         45379
runtime              45203
title                45460
vote_average         45460
dtype: int64

In [48]:
dfclean2 = dfclean.dropna()
dfclean2.count()

adult                44118
genres               44118
original_language    44118
original_title       44118
overview             44118
poster_path          44118
release_date         44118
runtime              44118
title                44118
vote_average         44118
dtype: int64

In [49]:
dfclean['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [50]:
genresclean = []
for e in dfclean['genres']:
    e = str(re.sub("[^A-Za-z]","", e))
    e = str(re.sub('idname', ",", e))
    genresclean.append(e.strip(','))
    
dfclean['genres'] = genresclean

In [58]:
genresclean2 = []
for e in dfclean['genres']:
    if e == 'LOL':
        e = 'Uknkown'
        genresclean2.append(e)
    else:
        genresclean2.append(e)
dfclean['genres'] = genresclean2

In [59]:
dfclean['genres'].value_counts().head(15)

Drama                   5000
Comedy                  3621
Documentary             2723
Uknkown                 2442
Drama,Romance           1301
Comedy,Drama            1135
Horror                   974
Comedy,Romance           930
Comedy,Drama,Romance     593
Drama,Comedy             532
Horror,Thriller          528
Drama,Thriller           497
Thriller                 465
Crime,Drama              430
Romance,Drama            343
Name: genres, dtype: int64

In [60]:
display(dfclean)

,adult,genres,original_language,original_title,overview,poster_path,release_date,runtime,title,vote_average
0,False,"Animation,Comedy,Family",en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,81.0,Toy Story,7.7
1,False,"Adventure,Fantasy,Family",en,Jumanji,When siblings Judy and Peter discover an encha...,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,104.0,Jumanji,6.9
2,False,"Romance,Comedy",en,Grumpier Old Men,A family wedding reignites the ancient feud be...,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,101.0,Grumpier Old Men,6.5
3,False,"Comedy,Drama,Romance",en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,127.0,Waiting to Exhale,6.1
4,False,Comedy,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,106.0,Father of the Bride Part II,5.7
...,...,...,...,...,...,...,...,...,...,...
45461,False,"Drama,Family",fa,رگ خواب,Rising and falling between a man and woman.,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,90.0,Subdue,4.0
45462,False,Drama,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,360.0,Century of Birthing,9.0
45463,False,"Action,Drama,Thriller",en,Betrayal,"When one of her hits goes wrong, a professiona...",/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,90.0,Betrayal,3.8
45464,False,Uknkown,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,87.0,Satan Triumphant,0.0
45465,False,Uknkown,en,Queerama,50 years after decriminalisation of homosexual...,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,75.0,Queerama,0.0